
.account-page {
    .page-content {
        background-color: $lighter-grey !important ;
        border: 1px solid $black ;

        .title {
            color: $dark-blue ;
            font-size: 2rem ;
            border-bottom: 2px solid $darker-grey ;

            span {
                color: inherit ;
                font-size: 1.2rem ;
            }
        }

        .subtitle {
            color: $dark-blue ;
            font-size: 1.5rem ;
        }

        .profile-block {
            .account-block {
                .level-block {
                    position: relative ;

                    .circle {
                        float: left ;
                        margin-top: 5px ;
                        margin-left: -20px ;
                        width: 12px ;
                        height: 12px ;
                        border-radius: 50% ;
                    }
                    .unverified {
                        .circle {
                            background: $red ;
                        }
                        span {
                            color: $dark-red ;
                        }
                    }
                    .pending {
                        .circle {
                            background: $darker-yellow ;
                        }
                        span {
                            color: $darker-yellow ;
                        }
                    }
                    .verified {
                        .circle {
                            background: $light-green ;
                        }
                        span {
                            color: $light-green ;
                        }
                    }
                    .failed-reason {
                        position: absolute ;

                        width: 400px ;
                        left: 30% ;
                        top: -100px ;
                        background: white ;
                        border: 1px solid $black ;
                        .header {
                            color: white ;
                            font-weight: bold ;
                            font-size: 1.2rem ;
                            background: $dark-red ;
                            img {
                                width: 30px ;
                            }
                        }
                        .body {
                            .label {
                                font-weight: bold ;
                            }
                            textarea {
                                font-size: .7rem ;
                            }
                        }
                    }
                }
            }
            .information-block {
                width: 80% ;
            }
        }
        .password-change-form {
            .passwords-block {
                width: 80% ;
            }
        }
    }
}
