
.createroom-page {
    .page-content {
        .header {
            .title {
                font-size: 1.2rem ;
            }
            a {
                font-size: .8rem ;
            }
        }

        form {
            label {
                color: $black ;
            }
            span {
                font-size: .8rem ;
                color: $darker-grey ;
            }
            .mandatory::after {
                content: "*" ;
                color: red ;
            }
        }

    }
}
