.dashboard-page {
    .page-content {
        margin: 3rem auto ;
        .title {
            font-size: 1.5rem ;
            border-bottom: 1px solid $black ;
        }
        .description {
            font-size: 1.2rem ;
        }
        .news-updates {
            .subtitle {
                font-size: 1.5rem ;
            }
            .date {
                font-size: .7rem ;
            }
            .paragraph {
                .heading {
                    font-size: 1rem ;
                }
            }
        }
    }
}
