.kyc-approval-view-page {
    .page-content {
        .userinfo-block {
        }

        .action-block {
            .deny-block {
                width: 30% ;
                border: 2px solid $dark-red ;
                .header {
                    color: white ;
                    background: $dark-red ;
                }Passport1View passport scan
                .body {
                }
            }
        }
    }
}