
$color-disabled: rgb(147, 149, 152);

$black: rgb(35, 31, 32);
$dark-blue: rgb(24, 56, 99);

$grey: rgb(209, 211, 212);
$lighter-grey: rgb(241, 242, 242);
$light-grey: rgb(230, 230, 230);
$dark-grey: rgb(167, 169, 172);
$darker-grey: rgb(88, 89, 91);
$darkest-grey: rgb(65, 64, 66);
$dark-grey-open: rgb(128, 130, 133);

$dark-red: rgb(190, 30, 45);
$red: rgb(236, 28, 36);

$green: rgb(0, 148, 68);
$light-green: rgb(57, 181, 74);

$orange: rgb(241, 90, 41);

$light-blue: rgb(29, 170, 225);

$dark-yellow: rgb(251, 176, 59);
$darker-yellow: rgb(247, 147, 30);
