@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
#nav-bar{
    margin: 8px;
    display: flex;
}
#navlist{
    display: flex;
    position: relative;
    left: 700px;
    margin: 0px;
}

#navlist li a{
    margin: 30px;
    color: black;
    opacity: 98%;
    font-size: 54px;
    font-style: bolder;
    font-family:Fruktur;

}
#mpdj{
    background-image: url("image-4.jpg");
    height: 270px;
    border-radius: 90px;
    position: relative;
    margin: 10px 50px 10px 50px;
    background: cover;
    
}
h1{
    position: absolute;
    color: #FF6F06;
    font-size: 64px;
    text-align: center;
    margin: 66px 245px;
    
}
#card1{
    display: flex;
    margin-left: 50px;
}
.cc1{
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    margin-left: 30px;
} 
.cc1 img{
    width: 310px;
    height: 218px;
    border-radius: 20px;

}
#mdj{
    background-image: url("deluxe-potatoes.jpg");
    height: 270px;
    border-radius: 90px;
    position: relative;
    margin: 30px 50px;

}
#mdd{
    background-image: url("image-5.jpg");
    height: 270px;
    border-radius: 90px;
    position: relative;
    margin: 10px 50px 10px 50px;
}
#md{
    margin: 112px 352px;
}
@media only screen and (max-width: 768px){
    #navlist{
        left: 260px;
    }
    #navlist li a {
        font-size: 34px;
    }
    h1{
        margin: 90px 81px;
        font-size: 45px;
    }
    #card1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 3px;
    }
    .cc1{
        margin-left: 0px;
    }
    .cc1 img{
        width: 260px;
        height: 218px;
    }
    #mpdj{
        left: 22px;
    }
    #mdj{
        left: 22px;
    }
    #mdd{
        left: 22px;
    }
    #md{
        margin: 99px 215px;

    }
    }


