
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}



header{ 
    background-size: cover;
    border-radius: 0px 0px 90px 90px;
    background-image: url("background.jpg");
    height: 95vh;

    

}
#logo{
    height: 70px;
    width: 70px;
    border-radius: 80px;
    margin-right: 30px;
}
.logo
{
    margin: 20px;
}


#nav-bar{   
    display: flex;

}

#navlist{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50px;
    margin-left: 250px;
}

#navlist li a{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin-left: 50px;
    align-items: center;
    color: white;
    font-size: 26px ;
    font-family: sans-serif;
    letter-spacing: 0.100em;
}
#navlist li a:hover{
    color: coral;
    background-color:dimgrey;
    padding: 10px;
    border-radius: 10px;
}

.HeaderTitle{
    margin-top: 90px;
    text-align: center;
}
.HeaderTitle h1{
    font-family: Fruktur;
    color: #FFC092;
    font-size: 64px;
    font-weight: 600px;
    letter-spacing: 30px;
}
.HeaderTitle h2{
color: white;
font-family: Fruktur;
font-size: 48px;
letter-spacing: 15px;
}
main{ background-color: white;}

#main1{
    margin: 0 50px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.menu{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 90px;
}
.mm{
    padding: 20px 80px;
    color: white;
    background-color: grey;
    margin: 575px;
    border-radius: 12px;
    font-size: 64px;
}
#main2
{ display: flex;
}

#main1 img{
    width: 468px;
    height: 302px;
    border-radius: 15px;
}

.card1
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 20px;
}
.card1 p{
    font-size: 48px;
    letter-spacing: 0.115em;
    color: #000000;
    opacity: 56%;
}
.card{
      text-align: center;  padding: 10px;
      padding-top: 20px;
      margin-left: 60px;
}
.card img{
        width: 320px;
        height: 288px;
        border-radius: 20px;

}
.card p{
    font-size: 40px;
    width: 400px; ;
    color: #707070;
    
}
#main3{
    height: 472px;
    background-image: url(background2.png);
    display: flex;
    border-radius: 50px 50px 0px 0px
    ;
}
.RESERVE form{
    width: 450px;
    height: 260px;

    border: 2px solid;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 50px;

}
label{
    font-size: 20px;
    color: white;
    font-family:  sans-serif ;
    padding-left: 25px;
}
input{
    border-radius: 20px;
    width: 410px;
    height: 50px;
    margin-left: 20px;
    margin-top: 8px;
    border: 2px solid;
}
.inline-dropdown{
    width: 460px;
    height: 50px;
}

input[type=date]{
    width: 200px;
    height: 30px;
    padding: 10px;
}
.clock{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
}
#person{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
}
footer{
    height: 127px;
}
#foter{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 25px 50px;
}
.footer{
    font-size: 18px;
    font-family: sans-serif;
}
.scm{
    font-size: 25px;
    font-family: sans-serif;
    font-style: bold;
     

}
@media only screen and (max-width: 768px){
    #navlist{
        display: inline-block;
        margin-left: 40px;
    } 
    #navlist li a{
        margin-left: 300px ;
        margin-top: 30px;
    }
    .HeaderTitle h1{
        font-size: 40px;
    }
    .HeaderTitle h2{
        font-size: 30px;
        letter-spacing: 10px;
    }
    .card1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 30px;
    }
    .card1 p{
        font-size: 38px;
        letter-spacing: normal;
    }
    .mm{
        margin: 214px;
        padding: 10px 50px;
    }
    .card{
        padding-left: 100px;
    
    }
    .card img{
        width: 480px;
        height: 350px;

    }
    #main2{
        display: inline-block;
    }
    .RESERVE form{
        margin-left: 60px;
    }
    footer{
        height: 40px;
    }
    }